{% extends "manage.html" %}
{% block pagetitle %} Moderator's Dashboard {% endblock pagetitle %}

{% block script %}
<script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/moderator_dashboard.js"></script>
{% endblock %}

{% block content %}

<center><h4>List of quizzes! Click on the given links to have a look at answer papers for a quiz.</h4></center>
<table class="table table-bordered">
    <th>Courses</th>
    <th>Quizzes</th>
    {% for course1 in course %}
        <tr>
            <td>
                <a href="{{URL_ROOT}}/exam/manage/course_detail/{{course.id}}">
                {{ course1.name }}
                </a>
            </td>
            <td>
                <table class="table table-bordered">

                {% for a,b,c,d in course1 |course_details %}
                {% if a %}
                                  <th>Quiz</th>
                  <th>Taken By</th>
                  <th>No. of users Passed</th>
                  <th>No. of users Failed</th>
                {% for a1 in a %}
                <tr>
                    <td>
                    <a href="{{URL_ROOT}}/exam/manage/monitor/">{{a[a.index(a1)]}}</a>
                    </td>
                    <td>
                      {{b[a.index(a1)]}} user(s)
                    </td>
                    <td>
                      {{c[a.index(a1)]}}

                    </td>
                    <td>
                      {{d[a.index(a1)]}}
                                   
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                  No Quizzes
                {% endif %}
                  {% endfor %}
                  </table>
            </td>
        </tr>
    {% endfor %}
</table>

<hr>
<center>
    <a href="{{URL_ROOT}}/exam/manage/add_course" class="btn btn-default">
      Add New Course
    </a>
    <a href="{{URL_ROOT}}/exam/manage/create_demo_course" class="btn btn-default">
      Create Demo Course
    </a>

   <a data-toggle="collapse" data-target="#help">
      <span class="glyphicon glyphicon-question-sign"></span> What's This
    </a>
    <div id="help" class="collapse">
      <ul class="list">
        <li>A Demo Course and Demo Quiz will be created (Click Courses link on nav bar to view courses).</li>
        <li>Some Demo Questions are also created for you (Click Questions link on nav bar to view questions).</li>
        <li>In Courses you can view Demo Quiz.</li>
        <li>Click on the Demo Quiz and Click on User Mode or God Mode to take the quiz.</li>
        <li>You can also edit the Demo quiz.</li>
      </ul>
    </div>
 
{% endblock %}


